@{
    ViewBag.Title = "Home Page";
}




             <p >
                @* BIENVENIDO,  @Komatsu.Core.Seguridad.Mvc.Helper.UtilSession.Obtener_UsuarioSession().NombreApellido*@
             </p> 




