<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral" requirePermission="true"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="CategoriaServicioERPChavin">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\Logs\LoggingError_SeguridadCore.log" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Week" maxArchivedFiles="0"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}{newline}&#xA;Message: {message}{newline}" name="Text Formatter"/>
    </formatters>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Komatsu.Core.Seguridad.ServiceImplementation.ServicioUsuario_Behavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="Komatsu.Core.Seguridad.ServiceImplementation.ServicioRol_Behavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="Komatsu.Core.Seguridad.ServiceImplementation.ServicioConfiguracion_Behavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="Komatsu.Core.Seguridad.ServiceImplementation.ServicioPerfil_Behavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="KomatsuCoreSeguridadHTTPBinding" closeTimeout="00:03:00" openTimeout="00:03:00" sendTimeout="00:03:00"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="KomatsuCoreSeguridadTCPBinding" closeTimeout="00:03:00" openTimeout="00:03:00" sendTimeout="00:03:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <remove contract="IMetadataExchange" name="sb"/>
      <endpoint address="" binding="netTcpRelayBinding" contract="IMetadataExchange" name="sb"/>
    </client>
    <services>
      <service behaviorConfiguration="Komatsu.Core.Seguridad.ServiceImplementation.ServicioUsuario_Behavior" name="Komatsu.Core.Seguridad.ServiceImplementation.ServicioUsuario">
        <endpoint binding="basicHttpBinding" bindingConfiguration="KomatsuCoreSeguridadHTTPBinding" name="HTTP_ServicioUsuario" contract="Komatsu.Core.Seguridad.ServiceContracts.IServicioUsuario"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3218/Komatsu/CoreSeguridad/ServUsuario"/>
            <add baseAddress="net.tcp://localhost:3218/Komatsu/CoreSeguridad/ServUsuario"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Komatsu.Core.Seguridad.ServiceImplementation.ServicioRol_Behavior" name="Komatsu.Core.Seguridad.ServiceImplementation.ServicioRol">
        <endpoint binding="basicHttpBinding" bindingConfiguration="KomatsuCoreSeguridadHTTPBinding" name="HTTP_ServicioRol" contract="Komatsu.Core.Seguridad.ServiceContracts.IServicioRol"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3218/Komatsu/CoreSeguridad/ServRol"/>
            <add baseAddress="net.tcp://localhost:3218/Komatsu/CoreSeguridad/ServRol"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Komatsu.Core.Seguridad.ServiceImplementation.ServicioConfiguracion_Behavior" name="Komatsu.Core.Seguridad.ServiceImplementation.ServicioConfiguracion">
        <endpoint binding="basicHttpBinding" bindingConfiguration="KomatsuCoreSeguridadHTTPBinding" name="HTTP_ServicioConfiguracion" contract="Komatsu.Core.Seguridad.ServiceContracts.IServicioConfiguracion"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3218/Komatsu/CoreSeguridad/ServConfiguracion"/>
            <add baseAddress="net.tcp://localhost:3218/Komatsu/CoreSeguridad/ServConfiguracion"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Komatsu.Core.Seguridad.ServiceImplementation.ServicioPerfil_Behavior" name="Komatsu.Core.Seguridad.ServiceImplementation.ServicioPerfil">
        <endpoint binding="basicHttpBinding" bindingConfiguration="KomatsuCoreSeguridadHTTPBinding" name="HTTP_ServicioPerfil" contract="Komatsu.Core.Seguridad.ServiceContracts.IServicioPerfil"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3218/Komatsu/CoreSeguridad/ServPerfil"/>
            <add baseAddress="net.tcp://localhost:3218/Komatsu/CoreSeguridad/ServPerfil"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="cnsKomatsuCoreSeguridad" connectionString="server=10.7.2.124;database=BD_ERP_SEGURIDAD;User=usrwpfdev; Password=U$rd3v@9p;" providerName="System.Data.SqlClient" />-->
    <add name="cnsKomatsuCoreSeguridad" connectionString="server=sql-ordenesdeservicio-dev.database.windows.net;database=sqldb-ordenesdeservicio-dev;User=adminordenesbd; Password=oe5JW&amp;xJiP74;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="ValidarAD" value="1"/>
    <add key="DomainAD" value="MINERIA"/>
    <add key="UserAD" value="admin.ad2"/>
    <add key="PasswordAD" value="1Ntegr@c10nAD"/>
  </appSettings>
</configuration>